.class-add-product {
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: right;
  .button-checkout {
    border-radius: 30px;
  }
}
.customer-information {
  border: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.class-checkout {
  padding-top: 10px;
  text-align: right;
  .button-checkout {
    border-radius: 30px;
  }
}
.customer-information {
  .button-list-personal {
    text-align: right;
  }
}
